.AuthForm {
  display: flex;
  align-items: center;
  gap: 8px;
}
.AuthForm input {
  padding: 6px 8px;
}
.AuthForm button {
  padding: 6px 8px;
  transition: 0.2s ease;
}

.Logout_btn {
  background-color: red;
  color: white;

  &:hover {
    background-color: darkred;
  }
}

.AuthForm input[type="password"] {
  -webkit-text-security: disc;
}
