.Header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  padding: 8px 12px;
  background: #fff;
}

.Header > * {
  align-self: center;
}
.Header {
  display: flex;
  justify-content: space-around;
  width: 1200px;
  border: 1px solid white;
  border-radius: 10px;
}
